@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: orangered;

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.edge {
  width: 0;
  height: 0;

  border-bottom: #fff 22px solid;

  border-left: transparent 38px solid;

  transform: translateY(-100%);
}

.scale {
  width: 38px;
  height: 100px;

  background: #fff;
}

.circle {
  width: 250px;
  height: 250px;

  border: 5px solid #fff;

  border-radius: 50%;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  gap: 2px;

  position: relative;

  overflow: hidden;
}

.circle::after {
  content: "";
  width: 25px;
  height: 25px;

  border-radius: 50%;

  display: inline-block;

  background: red;

  position: absolute;
  top: 0;

  transform: translateX(150%) translateY(50%);
}

.scale:first-child {
  height: 120px;
}

.scale:nth-child(2),
.scale:nth-child(4) {
  height: 90px;
  transform: scaleX(-1);
}

.scale:nth-child(3) {
  height: 180px;
}

.scale:last-child {
  height: 80px;
}

/* triangle's grouped elements */

[class|="triangle"] {
  width: 25px;
  height: 25px;
}

.triangle-1,
.triangle-3 {
  background: cyan;
  border-top-right-radius: 30%;
}

[class|="triangle"]::after,
::before {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background: inherit;

  border-top-right-radius: inherit;
}

[class|="triangle"]::after {
  transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translateX(50%);
}

[class|="triangle"]::before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translateY(-50%);
}

/* triangle 1 */
.triangle-1 {
  transform: translate(-40px, -110%) rotate(-90deg) skewX(-30deg)
    scale(1, 0.866);
}

/* triangle 2 */
.triangle-2 {
  background: yellow;

  border-top-right-radius: 30%;

  transform: translateX(-26px) translateY(-290%) rotate(-90deg) skewX(-30deg)
    scale(1, 0.866) scale(-1);
}

/* triangle 3 */
.triangle-3 {
  transform: translate(-40px, -572%) rotate(-90deg) skewX(-30deg)
    scale(1, 0.866);
}
